@model IEnumerable<Online_Mobile_Store.Models.Phone>
@{
	ViewData["Title"] = "Phones";
}


<!Doctype html>
<html>
<head>
	<title>@ViewData["Title"]</title>
</head>
<body>
	@foreach (var p in Model)
	{
		<div class="col-sm-4 col-lg-4">
			<div class="thumbnail">
				<img src="~/PhoneImages/@p.ImageUrl" alt="Img"/>
				<div class="caption">
					<h3 class="pull-right">@p.Price.ToString("c")</h3>
					<h3>
						<a>@p.Title</a>
					</h3>
					<p>@p.ShortDescription</p>
				</div>

			</div>

		</div>
	}


	</body>
</html>





